<!DOCTYPE html>
<html ng-app='eventer'>
  <head>
    <meta charset="utf-8" />
    <title>Sporting Event Aggregator</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <h1>Sporting Event Aggregator</h1>
    <!-- to be commented out later -->
    <div class='events' ng-controller="EventsController">
  

      <form class="populate" ng-submit='populateEvents()'>
        <input ng-model='zip' placeholder="Enter Zip Code">
        <center><button type="submit">Submit</button></center>
      </form>
      <form class="filter">
        <input ng-model='filter' placeholder="Filter">
      </form>
      <!-- <p>{{zip}}</p> -->
      <div class="event" ng-repeat='event in data.events| filter: filter'>
        <!-- <div background='url('+{{event.performers[0].image}}+')'> -->
        <div style="background-image: url({{event.performers[0].image}})"> 
          <span class="title">{{event.title}}</span><br>
          <span class="date">{{event.datetime_local}}</span><br>
          <span class="city">{{event.venue.city}}</span><br>
          <span class="venue">{{event.venue.name}}</span><br>
          <span class="price">{{event.stats.lowest_price}}</span><br>
        </div>
      </div>
    </div>
    <!-- end to be commented out later -->
    <!-- <div ng-view></div> -->

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>

    <script src="events/eventsController.js"></script>
    <script src="services/services.js"></script>
    <script src="app.js"></script>
  </body>
