.event {
  border-width: 3px;
  border-color: white;
  border-style: solid;
  color:white;
  background-color: black;
  font-size: 15pt;
  font-family: 'Helvetica', serif;
  /*font-family: times, Times New Roman, times-roman, georgia, serif;*/
  height:200px;

}

button {
	width: 80%;
	height: 25px;
	position:relative;
	text-align: center;
}

.title{
  font-size: 22pt;

}
.price {
  text-align: right;
}
.buy {
  color: white;
}
.title, .date, .city, .venue, .price, .buy{
	background-color: black;
	display:inline;
}

input {
  width: 80%;
  text-align: center;
  line-height: 55px;
  font-family: 'Helvetica', serif;
  font-size: 32pt;
  border-radius: 3px;
}

h1 {
  font-size: 55pt;
  font-family: 'Helvetica', serif;
  /*font-family: times, Times New Roman, times-roman, georgia, serif;*/

  text-align: center;
  padding-bottom: 36px;
}

select {
  width: 80%;
  height: 34px;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right #ddd;
  border: 1px solid #ccc;
}
option{
  font-size: 32pt;
}